# top-most EditorConfig file
root = true

# C# files
[*.cs]
# Require "this." for instance members
dotnet_diagnostic.SA1101.severity = error

# Disable SA1200 (Using Directives Must Be Placed Correctly)
dotnet_diagnostic.SA1200.severity = none

# Disable SA1600 (Elements must be documented)
dotnet_diagnostic.SA1200.severity = none

# Disable SA1633 (The file header is missing or not located at the top of the file)
dotnet_diagnostic.SA1200.severity = none